<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>Istanbul</string>
		<key>email</key>
		<string>ahmet@gmail.com</string>
		<key>lastName</key>
		<string>Güneş</string>
		<key>firstName</key>
		<string>Ahmet</string>
	</dict>
	<dict>
        <key>address</key>
        <string>Ankara</string>
        <key>email</key>
        <string>selim@gmail.com</string>
        <key>lastName</key>
        <string>Ağır</string>
        <key>firstName</key>
        <string>Selim</string>
	</dict>
</array>
</plist>
